<table width="650" align="center" bgcolor="#eee" cellpadding="10" cellspacing="0" border="0" style="font-family:Arial,Helvetica,sans-serif; text-align:center">
	<tbody>
		<tr>
			<td align="center">
				<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#000">
					<tbody>
						<tr>
							<td align="left" width="30%"><img src="cid:logo_new" width="100px" border="0" height="" alt="" style="padding:10px 10px 0; cursor: pointer;" ></td>
							<td align="right" width="70%">
								<table align="right" border="0" cellpadding="0" cellspacing="10">
									<tbody>
										<tr>
											<td align="left" style="font-size:16px; color:#fff; text-transform:uppercase;font-weight:bold">
											Stay Connected </td>
											<td align="center"><img style="border:solid 1px #ddd" src="cid:fb" style="cursor: pointer;"></td>
											<td align="center"><img style="border:solid 1px #ddd" src="cid:twitter" style="cursor: pointer;"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table  bgcolor="#fff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
					<tbody>
						<tr>
							<td valign="top" style="color:#2a2a2a; font-style:normal; font-weight:bold; padding-top:9px; padding-bottom:9px">
							<h2 style="padding:0px 0px 0; border-top:0; font-weight:bold; margin:0; font-size:13px; text-align:center;color:#333">
							Hello Admin</h2>
							</td>
						</tr>
					</tbody>
				</table>
				<table width="100%" bgcolor="#fff" align="center" cellpadding="10" cellspacing="0" border="0" style="margin:0px 0 0px 0; border:solid 1px #ccc">
					<tbody>
						<tr style="background:#ddd">
							<td align="left" valign="top" style="padding:10px; border-top:0; font-weight:700; height:100%; margin:0; width:100%">
							Feedback User </td>
						</tr>
						<tr>
							<td align="left" valign="middle" style="border-collapse:collapse; padding:10px; border-bottom:1px solid #eaeaed; font-size:12px">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
									<tbody>
										<tr>
											<td width="28%" align="left" valign="top" style="border-collapse:collapse; text-transform:capitalize">
											Name </td>
											<td width="16" align="left" valign="top" style="border-collapse:collapse; font-weight:normal">
											:</td>
											<td align="left" valign="top" style="border-collapse:collapse; font-weight:normal">
											Guest User </td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td align="left" valign="middle" style="border-collapse:collapse; padding:10px; border-bottom:1px solid #eaeaed; font-size:12px">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
									<tbody>
										<tr>
											<td width="28%" align="left" valign="top" style="border-collapse:collapse; text-transform:capitalize">
											Feedback </td>
											<td width="16" align="left" valign="top" style="border-collapse:collapse; font-weight:normal">
											:</td>
											<td align="left" valign="top" style="border-collapse:collapse; font-weight:normal">
											${message} </td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
					</tbody>
				</table>
				<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#fff" style="width:100%;padding: 0 10px">
					<tbody>
						<tr>
							<td>
								<p style="padding:10px 0px; border-top:0; font-weight:bold; margin:0; font-size:13px; color:#333">
								Thanks,<br/>
								</p>
								<p style="padding:0px 0px 10px; border-top:0; font-weight:bold; margin:0; font-size:13px; color:#333">
								Team <span class="highlight" id="0.7169484559246879" name="searchHitInReadingPane">Kikspot</span></p>
							</td>
						</tr>
					</tbody>
				</table>
				<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" style="width:100%; border-top:#ddd solid 7px">
					<tbody>
						<tr>
							<td>
								<p style="color:gray; font-size:12px; padding:10px 10px">
								<i>This is a system generated email, please do not reply.</i></p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>