/** 
	Created By Bhagya On December 07th,2015
	Common.css is consists of all common styles
*/

/* Pagination *//* added by bhagya on December 07th,2014 */


		.pagination {
			overflow: auto;
			margin: 40px 0 10px 0;
			text-align: center;	
		}
		
		
		.pagination ul {
			display:inline-table;
			
			
		}

		 .pagin {
				overflow: auto;				
			}
			
			
			
			.pagin li {
				float: left;
				padding:4px 4px 2px 0px !important;
				display:inline;
				
			}
			
			.pagin li a {
				display: block;
				text-decoration: none;
				color: #717171;
				font: bold 13px Arial, sans-serif;
				text-shadow: 0px 1px white;
				padding: 5px 8px;
				border:1px solid #ccc;		
			
				
			}
			
			.pagin li a.current {
				color: white;
				text-shadow: 0px 1px #3f789f;
				background: #7cb9e5;
				background: -webkit-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
				background: -moz-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
				background: -o-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
				background: -ms-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
				background: linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cb9e5', endColorstr='#57a1d8',GradientType=0 );
			}
			
			.pagin li a:hover {
				-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
				-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
				box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
				background: #fff;
			
				background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
				background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
				background: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
				background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
				background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=0 );
			}
			
			.pagin li a:active,#pagin li a.current:active {
				
			}
			
			.pagin li a.current:hover {
				-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
				-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
				box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
				background: #99cefc;
			
				background: -webkit-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
				background: -moz-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
				background: -o-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
				background: -ms-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
				background: linear-gradient(top, #99cefc 0%, #57a1d8 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cefc', endColorstr='#57a1d8',GradientType=0 );
			}
		
		
		
		
	/**
		Search Div Stylings
	*/
	
			
		.searchTxt{
			width: 95% !important;
			padding: 6px 6px 7px;
    	}
		.searchLbl{
			padding-top: 10px;
			font-weight: bold !important;
		}
		 .searchDiv{
			margin-top:85px;
		} 
		
		
		
		.status{
			font-size: 1.3em;
			color: #E98506;
			text-align: center;
			margin-bottom: 10px;
		}
		
		.validation_error {
			display: block; 
			float: right;
			color:#f01;
			width:30%;
		}
		
	/**
		Stylings For Forgot Password  and Reset password
	*/	
		.content{
			color: #e2e2e2;
		    background-color: rgba(0, 0, 0, 0.45);
		    margin-top: 8%;
		    padding: 5%;
		    border: 3px solid #d5d5d5;
		}
		.content-title{
			text-align:center;font-weight:bold;margin-top:50px;margin-bottom: 40px;font-size:22px;
		}
		.error_class{
			color:#f01;
			width:30%;
		}
	/* END OF Forgot Password Stylings*/
	
	
	
	.addButton{
			text-align:right;
			margin-top:2%;
			margin-right:5%;
		}
		
		
		.error_status{
			font-size: 2.2em;
			color: #E98506;
			text-align: center;
			margin-bottom: 10px;
		}
		
		.logo_image_header{
			text-align: center;
			margin-top: 10%;
    		margin-bottom: 3%;
    	}
    	
    	/**Added td_link class by bhagya on Jan 06th,2016
    		Using at View Users and View Locations Jsp Pages*/
    	.td_link{
    		text-decoration: underline;
    		cursor: pointer;
    	}